/*
* All
* */
.h-nav	{
  font-family: $font-second;
  /*
  *  li all
  * -----------*/
  li                          {position: relative;}
  li a                        {display: block; position:relative; padding: 10px 15px;}
  
  /*
  *  ul
  * -----------*/
  .menu                       {display: flex; flex-direction: column;}
  .menu > li                  {float: left; padding: 10px 0;}
  
  /*
  *  ul ul
  * -----------*/
  .sub-menu                       {display: block; position: absolute; left: -999em; margin-top: 10px; font-family: $font-base; z-index: 3;}
  .sub-menu li                    {clear: both; padding: 0; min-width: 220px; max-width: 220px; text-align: left;}
  .sub-menu li a                  {padding: 10px;}
  
  /* li - submenu active*/
  .menu > li:hover > .sub-menu,
  .menu > li.focus > .sub-menu    {left:50%; transform: translate(-50%, 0);}
  
  
  /*
  *  ul ul ul
  * -----------*/
  .sub-menu li > .sub-menu {border:0}
  /* li li - submenu active*/
  .menu ul.sub-menu li:hover > ul.sub-menu,
  .menu ul.sub-menu li.focus > ul.sub-menu    {left: -100%; top: -10px;}
  
  
  .menu > li.menu-item-has-children{
    text-align: center;
  }
  .menu-item-has-children {
    //width: 200px;
  }
  
  /*
  *  current li a
  * -----------*/
  .current_page_item > a,
  .current-menu-item > a        {font-weight: bold;}
  
  
  /*
  *  highlight
  * -----------*/
  .menu .highlight > a                                  {color: $four-bw; background: $two-color; border-radius: 5px;}
  .menu .highlight > a:hover                            {background-color: $one-color; color: $four-bw;}
  .menu .highlight.menu-item-has-children > a::after    {color: $four-bw; }
}
.h-nav--color {
  
  .menu li > a                {color: $hv-a;}
  .menu li > a:hover          {color: $hv-ahover;}
  
  .sub-menu li                {background: $hv-lili;}
  .sub-menu li a              {color: $hv-aa;}
  .sub-menu li > a:hover      {color: $hv-aahover;}
  .sub-menu li li  > a:hover  {color: $hv-aahover;}
}

.h-nav--arrow {
  margin-right: 3.5%;
  /* Add border arrow */
  .menu > li > .sub-menu::before  {content: ''; position: absolute; bottom: 100%; left: 50%; margin-left: -8px; width: 0; height: 0; border-bottom: 8px solid $hv-plus; border-right: 8px solid transparent; border-left: 8px solid transparent;}
  
  .sub-menu    {border-top: 2px solid $hv-plus;}
  .sub-menu li {border-bottom: 1px solid $hv-border;}
  /*
  *  strzalki
  * -----------*/
  .menu-item-has-children > a:after {
    display: inline;
    color: $hv-plus;
    font-weight: bold;
  }
  /* pierwszy poziom strzalka w dół */
  .menu > .menu-item-has-children > a:after 	{
    @extend .i-style;
    content: "\f107";
  }
  /* drugi poziom strzalkaw prawo */
  .sub-menu .menu-item-has-children > a:after 	{
    @extend .i-style;
    content: "\f105";
  }
  a:after {
    padding: 0 2px;
    min-width: 35px;
  }
}

.h-nav--desc {
  @include font-size(($size-base+0.2));
  text-transform: uppercase;
  
  .menu-item-description {
    display: block;
    margin-top: 10px;
    clear: both;
    text-transform: initial;
    font-size: 90%;
    font-family: sans-serif;
    color: $five-bw;
  }
}
