/* Theme style
========================================================================== */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS
----------------------------------------------------------------
1.0 Normalize
2.0 Universal styles
3.0 Layout
3.1 Header
3.2  Regular Content
3.3  Posts - multi loop
3.4  Posts & Page
3.5  Taxonomy
3.6  Attachment
4 Sections
4.1 Loop in header with post
4.2 Featured category
4.3 Events
4.4 Clubs
4.5 New colections
4.6 Catl
4.7 Contact
4.8 Contact & Catl
4.9 Partners (slick slider css)
4.10 Copyright
5.0  Widgets
6.0  Event calander - plugin Events Manager by Marcus Sykes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: auto
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  overflow: hidden;
  font-family: $font-base;
  @include font-size($size-base);
  line-height: 1.5;
  background: $four-bw;
  color: $one-bw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

main {
  display: block;
}

/*--------------------------------------------------------------
2.0 Universal styles
--------------------------------------------------------------*/
.hide {
  display: none;
}

.h-font {
  font-family: $font-second;
}
.two-line-h {
  min-height: 2.6em;
}
.eight-line {
  min-height: 12em;
}

.btn {
  color: $four-bw;
  background-color: $two-color;
  border: 1px solid $two-color;
  padding: 0.7em;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  border-radius: 0.7em;
  &:hover {
    color: $four-bw;
    background-color: $one-color;
  }
}
.btn--three {
  color: $three-color;
  background-color: $one-color;
  border-color: $three-color;
  &:hover {
    color: $one-color;
    background-color: $three-color;
  }
}



/* color schemes */
.text-light {color: $white;}
.text-dark {color: $one-color;}

.a-light a {color: $white; }
.a-dark a  {color: $one-color;}

.a-hover-one a:hover{ color: $one-color;}
.a-hover-two a:hover {color: $two-color;}
.a-hover-three a:hover{color: $three-color;}
.a-hover-light a:hover{color: $four-bw;}

.gray-content {
  color:$five-bw;
  a {
    color:$five-bw;
  }
}
.fidkar-white {
  background-color: $white;
}

.fidkar-yellow {
  background-color: $five-color;
}

/* tabs */
.js-tablist {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
}
.tabs__item {
  display: inline-block;
  @include font-size($font-size-xl);
  font-family: Roboto, Tahoma, Geneva, sans-serif;
  a {
    padding: 10px 5px;
    margin-bottom: -2px;
  }
}
.tabs__link {
  cursor: pointer;
  span {
    margin-left: 5%;
  }
}
.js-tabcontent[aria-hidden=true]{
  display: none;
}
.tabs__content {
  > img {
    float: left;
    padding: gutter() gutter() gutter() 0;
  }
  ul {
    list-style-position: outside;
  }
}
/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
.col-primary,
.col-secondary {
  float: left;
  @include span(12 no-gutters);
  margin: 5% 0 0;
}
.col-primary--12{
  @include span(12 no-gutters);
}
.inline-right {
  display: inline-block;
  float: right;
}
.inline-left{
  display: inline-block;
  float: left;
}


/*--------------------------------------------------------------
3.1 Header
--------------------------------------------------------------*/
/* Top bar - Header */
#top-bar {
  @include font-size($font-size-m);
  padding: 5px gutter();
  border-bottom: 1px solid lighten($five-bw, 42%);
  
  .contact-item {
    display: inline-block;
    margin-top: 10px;
    padding: 0 5px;
    
  }
}
#top-bar__address {
  margin-left: -20px;
}

.form-wcga {
  form {
    margin: 0;
    display: inline;
  }
  input {
    width: auto;
    margin: 0 2px;
  }
  button {
    background-color: $one-color;
    border-color: $one-color;
  }
}
#top-bar__social {
  padding: 0 15px;
  margin-left: 30px;
  margin-right: 20px;
  border-left: 1px solid $light-border;
  border-right: 1px solid $light-border;
}
#top-bar__search{
  position: relative;
  overflow: hidden;
  clear: both;
}

/* Site branding - Header */
.header-wrapper {
  width: 100%;
  background-color: $four-bw;
  border-bottom: 1px solid lighten($five-bw, 42%);
  z-index: 700;
}
#site-header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.title-area {
  max-width: 150px;
  padding: 10px gutter();
  flex: 1 1 auto;
}
.site-title {
  margin: 0;
  max-height: 80px;
  overflow: hidden;
}
#header-menu {
  letter-spacing: 0.05em;
}
/*--------------------------------------------------------------
3.2  Regular Content
--------------------------------------------------------------*/
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $one-color;
  background-image: url(#{$svg-path}trianglify.svg);
  background-size: cover;
}
#breadcrumbs {
  background: rgba(247, 248, 250, 0.1);
  padding: 1%;
  margin: 20px auto;
  border-radius: 25px;
  span {
    padding-right: 5px;
  }
}
/*--------------------------------------------------------------
3.3  Posts - multi loop
--------------------------------------------------------------*/
.hentry-multi {
  .hentry {
    margin-bottom: 40px;
    background-color: $white;
    border: 1px solid lighten($five-bw, 44%);
  }
  .post-thumbnail{
    margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------
3.4  Posts & Page
--------------------------------------------------------------*/
.entry-meta {
  border-bottom: 1px solid $border-color;
}
.entry-meta,
.entry-summary {
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.meta__item {
  display: inline-block;
  padding: 0 2%;
  margin-bottom: 10px;
  i {
    padding-left: 0;
  }
}
.entry-content {
  clear: both;
}
/*--------------------------------------------------------------
3.5  Taxonomy
--------------------------------------------------------------*/
#term_description {
  border-bottom: 5px solid $two-color;
  margin-bottom: 40px;
}
.desc_header {
  background-color: $two-color;
}
/*--------------------------------------------------------------
3.6  Attachment
--------------------------------------------------------------*/
.attachment--other {
  margin: 40px auto;
  max-width: 800px;
  background: $white;
  padding: 2%;
  border: 1px solid $border-color;
}
.attachment__header,
.attachment__size {
  border-bottom: dashed 1px $two-color;
  padding: 10px 0;
}
.attachment__file {
  padding: 25px 0;
  img{
    display: inline-block;
  }
}

/*--------------------------------------------------------------
4 Sections
--------------------------------------------------------------*/
.header-section {
  padding: 20px 0;
  h2 {
    margin: 0;
  }
  p {
    margin-top: gutter();
  }
}
/*--------------------------------------------------------------
4.1 Loop in header with post
--------------------------------------------------------------*/
#posts-header {
  position: relative;
}
// First post
.f-post {
  background: center no-repeat;
  background-size: cover;
  background-color: $one-color;
  
  .entry-header {
    flex: 0 1 auto;
  }
  .entry-summary {
    flex: 0 1 auto;
  }
}
.f-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $one-color;
}

// Block w other post - small
#posts-min {
  overflow: hidden;
  
  article {
    float: left;
    position: relative;
    width: 100%;
    height: 220px;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
  }
  h2 {
    @include font-size($size-base);
    background-color: $two-color;
    padding: 1em;
  }
}

.s-post-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.arrow-allpost-icon {
  display: block;
  width: 300px;
  padding: 10px 35px;
  color: $four-bw;
  background-color: $one-color;
  border: 2px solid $four-bw;
  margin: 10px auto;
  border-radius: 0.7em;
  overflow: hidden;
  
  &:hover {
    background-color: $two-color
  }
}

// Continer for menu
#header-nav-bottom {
  background-color: $four-bw;
}

/*--------------------------------------------------------------
4.2 Featured category
--------------------------------------------------------------*/
#featured-cat {
  h3 {
    min-height: 2.5em;
  }
  a {
    color: $four-bw;
  }
}
.featured-item {
  .hentry {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    border: 5px solid $white;
    margin: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,.12);
    overflow: hidden;
  }
  .entry-header {
    position: absolute;
    padding: 0 15px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
  }
}
.featured-item__gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background: linear-gradient(to right top, #0BD69F, #008152);
}
#featured-cat .header-section,
#wpg-evets .header-section {
  color: darken($three-color, 8%);
}
/*--------------------------------------------------------------
4.3 Events
--------------------------------------------------------------*/
#wpg-evets {
  background-color: $white;
  z-index: 0;
  .header-section h2 {
    padding-top: 20px;
  }
}

.ev-wrapper{
  position: relative;
}
.green_bg {
  background-color: darken($three-color, 8%);
}

/* upcoming events */
.ev_block > div {
  display: inline-block;
  vertical-align: top;
}
.ev_block__icon {
  padding: 0 10px 2%;
  min-width: 80px;
  text-align: center;
}
.ev_block__content {
  text-align: left;
}
.ev-title {
  color:darken($three-color, 25%);
}
.ev-content {
  font-weight: bold;
  letter-spacing: 0.1em;
}

/* calander in section */
#calendar_events {
  background-color: $four-bw;
  margin-top: 20px;
}
.em-calendar thead {
  background-color: $two-color;
  color: $four-bw;
  
  a {
    color: $four-bw;
  }
}
tr.days-names {
  font-weight: bold;
  color: $two-color;
}

/*--------------------------------------------------------------
4.4 Clubs
--------------------------------------------------------------*/
.clubs {
  margin-top: 55px;
  padding-top: 25px;
  margin-bottom: 55px;
  background-color: $two-color;
  clear: both;
  
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 80px;
    background-color: $four-bw;
    margin-top: -75px;
  }
}
.club-item {
  img {
    width: 50%;
  }
  &:first-child {
    background-color: $four-color;
  }
  &:nth-child(2) {
    background-color: lighten($two-color, 5);
  }
  &:nth-child(3) {
    background-color: $three-color;
  }
  &:nth-child(4) {
    background-color: lighten($four-color, 5);
  }
}

/*--------------------------------------------------------------
4.5  New colections
--------------------------------------------------------------*/
.newitems {
  .tabs__item {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    min-width: 50px;
    border-bottom: 1px solid $light-border;
    
    a[aria-selected=true] {
      color: $one-color;
    }
  }
}
.coletion-image,
.coletion-content {
  padding: 2.08333% 2.08333% 0 2.08333%;
  background-color: $two-color;
  img {
    width: auto;
    max-height: 370px;
    margin: auto;
  }
}
.coletion-content {
  overflow: hidden;
}
.coletion-gallery {
  background-color: $one-color;
  text-align: center;
  padding: gutter();
}
.coletions-link {
  clear: both;
  padding: 40px;
  text-align: center;
}

/*--------------------------------------------------------------
4.6  Catl
--------------------------------------------------------------*/
#catl {
  margin-top: 100px;
  padding-top: 55px;
  padding-bottom: 55px;
  color: $white;
  background-color: $one-color;
  .tab-catl {
    overflow: hidden;
  }
  
  .tabs__item {
    a {
      color: $white;
    }
    a:hover {
      color: $three-color;
    }
    a[aria-selected=true] {
      color: $three-color;
      border-bottom: 2px solid $three-color;
    }
  }
  .tabs__content {
    white-space: pre-line;
  }
}
.catl-svg,
.catl-content {
  width: 100%;
  float: left;
  min-height: 300px;
}
.catl-svg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  img {
    width: 100%;
    flex: 0 0 auto; // fix for ie11
  }
}
.catl-links {
  text-align: center;
  padding: 40px;
}

/*--------------------------------------------------------------
4.7  Contact
--------------------------------------------------------------*/
#contact {
  position: relative;
  .header-section {
    position: relative;
    padding-bottom: 0;
    
    > div {
      z-index: 5;
      position: relative;
    }
    h2 {
      display: inline-block;
      padding: 35px 2%;
      background-color: $two-color;
    }
  }
  .tabs__item {
    a[aria-selected=true] {
      color: $one-color;
      border-bottom: 2px solid $one-color;
    }
  }
}
.home #contact {
  background-color: $one-color;
}
.home.paged #contact {
  background-color: $four-bw;
}
#contact__tabs,
#contact__map {
  width: 100%;
}
#contact__tabs {
  float: left;
}
#contact__map {
  float: right;
  position: relative;
  overflow: hidden;
}

/* contact tabs */
#contact__content {
  background-color: $two-color;
  
  .contact-item {
    margin-bottom: 20px;
  }
}
.contact-item__icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  i {
    width: 60px;
    @include font-size($font-size-xxxl);
  }
  span {
    display: inline-block;
    padding-left: 25px;
  }
}
.contact-item__text {
  padding-left: 85px;
  .day {
    width: 110px;
  }
}

/* contact social portal links */
#contact-social {
  border-top: 1px solid $one-color;
  a {
    margin: auto 5px;
  }
}

/* map */
#map-canvas {
  height: 340px;
}

/*--------------------------------------------------------------
4.8  Contact & Catl
--------------------------------------------------------------*/
#catl .tabs__item a,
#contact .tabs__item a {
  display: inline-block;
  padding: 10px 5px;
  margin-bottom: -2px;
}

/*--------------------------------------------------------------
4.9  Partners (slick slider css)
--------------------------------------------------------------*/
#partners {
  padding-top: gutter();
  padding-bottom: gutter();
  background-color: $white;
}

/*--------------------------------------------------------------
4.10  Copyright
--------------------------------------------------------------*/
#copyright {
  border-top: 1px solid $border-color;
}

/*--------------------------------------------------------------
5.0  Widgets
--------------------------------------------------------------*/
.widget {
  border-bottom: 2px solid $border-color;
  
  &::after {
    content: '';
    display: block;
    width: 2px;
    height: 25%;
    background-color: $border-color;
    position: absolute;
    bottom: -2px;
    right: 0;
  }
}
.widget-title::after {
  content: '';
  display: block;
  width: 40%;
  height: 5px;
  background-color: $two-color;
}

/*--------------------------------------------------------------
6.0  Event calander - plugin Events Manager by Marcus Sykes
--------------------------------------------------------------*/
.ev-front-noevents {
  visibility: hidden;
  display: none;
}
.home .ev-front-events {
  color: $four-bw;
}

.home .ev-front-noevents {
  color: $four-bw;
  visibility: visible;
  display: block;
}
.em-calendar tbody {
  background-color: $four-bw;
}


table.em-calendar td.eventless-today,
table.em-calendar td.eventful-today {
  background-color: $three-color;
  color: $four-bw;
}

/* Event list */
.ev-item {
  position: relative;
  margin-bottom: 5em;
  background: $three-bw;
}
.ev-item__date {
  background-color: $two-color;
  padding: 15px 30px;
  position: absolute;
  top: -15px;
  right: -20px;
  z-index: 5;
}
.ec-item__img   img {
  max-width: 150px;
  margin: 5px auto 25px;
}
.ev-item__content {
  width: 100%;
  float: left;
  margin-top: 20px;
}
.ev-item__hour,
.ev-item__location {
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
}
.ev-item__summary {
  padding: 10px 0;
}
